@mixin comment-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.25rem;

    span {
        font-style: normal;

        font-size: 1rem;
        line-height: 1.25rem;
    }

    span:first-child {
        font-weight: 700;
        color: #333333;
    }

    span:last-child {
        font-weight: 400;
        color: #999999;
    }
}

@mixin comment-body {
    margin: 0.75rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333333;
}

@mixin comment-footer {
    height: 1.25rem;

    display: flex;
    align-items: center;

    button {
        border: none;
        outline: none;
        display: flex;
        align-items: center;

        height: 100%;

        background-color: transparent;

        padding-left: 0;
        padding-right: 12px;

        svg {
            margin-right: 0.25rem;
            cursor: pointer;
        }
    }
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heex-container {
    @include flex(column);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.heex-comment-editor {
    width: 100%;
    height: 10rem;

    display: flex;

    .left {
        height: 100%;
        width: 2.5rem;
        margin-right: 1rem;
    }
    .right {
        height: 100%;
        flex-grow: 1;

        .heex-editor-header {
            width: 100%;

            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 0.5rem;

            .heex-commenter-info {
                height: 2rem;
                flex-grow: 1;
                flex-shrink: 0;
                text-indent: 8px;

                border: none;
                outline: none;
                background-color: #f2f3f5;
            }
        }

        .heex-editor-body {
            border: none;
            outline: none;
            height: 5rem;
            width: 100%;
            margin-top: 0.5rem;

            & > textarea {
                width: 100%;
                height: 100%;
                background-color: #f2f3f5;
                padding: 10px;

                border: none;
                overflow: auto;
                outline: none;

                box-sizing: border-box;

                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                resize: none; /*remove the resize handle on the bottom right*/
            }
        }

        .heex-editor-footer {
            width: 100%;
            height: 2rem;

            margin-top: 0.5rem;

            display: flex;
            justify-content: space-between;

            .footer-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 3.5rem;

                svg:hover {
                    cursor: pointer;
                    fill: #074dda;
                }
            }

            .footer-right {
                height: 100%;
                display: flex;

                .heex-logo {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        height: 100%;
                        @include flex-center;
                    }

                    .heex-logo-text {
                        font-style: normal;
                        font-weight: 400;
                        color: #c2c9d6;

                        margin-right: 0.25rem;

                        a,
                        a:visited {
                            color: #c2c9d6;
                            text-decoration: none;
                            margin-left: 4px;
                        }
                    }

                    .heex-logo-svg {
                        cursor: pointer;
                        height: 100%;

                        a {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .heex-editor-submit-button {
                    border: none;
                    outline: none;
                    background-color: #074dda;
                    height: 2rem;
                    width: 6.75rem;
                    color: #fff;

                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.25rem;

                    margin-left: 1.25rem;
                    cursor: pointer;
                }
            }
        }
    }
}

.heex-comment-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 2.625rem;
    margin-top: 1.75rem;

    .heex-comment-meta-item {
        display: flex;
        align-items: center;

        height: 100%;
        width: fit-content;
    }

    .heex-comment-sort {
        background-color: #f2f3f5;
        button {
            height: 2.125rem;
            width: 5.625rem;
            margin: 0.25rem;

            background-color: #f2f3f5;

            border: none;
            outline: none;

            font-weight: 400;
            font-size: 1rem;
            line-height: 1.25rem;
        }

        button.active {
            background-color: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            color: #074dda;
        }
    }
}

.heex-comment-list {
    @include flex(column);

    width: 100%;

    .heex-comment-list-item {
        width: 100%;
        height: 100%;
        display: flex;

        margin-top: 1rem;

        .left {
            margin-right: 1rem;
        }

        .right {
            width: 100%;

            .heex-comment-thread-root {
                width: 100%;

                .thread-header {
                    @include comment-header;
                }

                .thread-body {
                    @include comment-body;
                }

                .thread-footer {
                    @include comment-footer;
                }
            }

            .heex-comment-thread-reply-list {
                .heex-comment-thread-reply-item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    margin-top: 1rem;

                    .reply-left {
                        margin-right: 1rem;
                    }
                    .reply-right {
                        width: 100%;
                        .reply-header {
                            @include comment-header;
                        }
                        .reply-body {
                            @include comment-body;
                        }
                        .reply-footer {
                            @include comment-footer;
                        }
                    }
                }
            }
        }
    }
}

.spinner {
    animation: spin infinite 1s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
