.heex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heex-comment-editor {
    width: 100%;

    display: flex;
    flex-direction: column;

    .heex-editor-header {
        width: 100%;

        display: flex;
        flex-direction: row;

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        .heex-commenter-info {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .heex-editor-body {
        border: 1px solid black;

        & > textarea {
            width: 100%;

            border: none;
            overflow: auto;
            outline: none;

            box-sizing: border-box;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            resize: none; /*remove the resize handle on the bottom right*/
        }
    }

    .heex-editor-footer {
        width: 100%;

        .heex-editor-submit-button {
            width: 4rem;
            display: inline-block;
            vertical-align: middle;
            min-width: 2.5em;
        }
    }
}

.heex-comment-meta {
    display: flex;
    align-items: center;
}

.heex-comment-list {
    display: flex;
    flex-direction: column;

    .heex-comment-list-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        .heex-comment-thread-root {
            display: flex;
            flex-direction: column;

            .thread-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 2em;

                // on hover, header should have a different bg-color

                .thread-meta {
                    span {
                        margin-right: 0.5em;
                    }
                }

                .thread-action {
                    display: flex;
                    justify-content: end;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2em;
                        height: 2em;

                        margin-left: 0.5em;

                        cursor: pointer;
                        transition: transform 0.2s ease-in-out;
                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }

        .heex-comment-thread-reply {
            width: 90%;
            align-self: end;

            .heex-comment-thread-reply-item {
                display: flex;
                flex-direction: column;

                width: 100%;

                .reply-header {
                    display: flex;
                    justify-content: space-between;
                    height: 2em;
                    align-items: center;

                    .reply-meta {
                        span {
                            margin-right: 0.5em;
                        }
                    }

                    .reply-action {
                        display: flex;
                        justify-content: end;

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 2em;
                            height: 2em;

                            margin-left: 0.5em;

                            cursor: pointer;
                            transition: transform 0.2s ease-in-out;
                            &:hover {
                                transform: scale(1.3);
                            }
                        }
                    }
                }
            }
        }
    }
}
