@mixin comment-action {
    display: flex;
    justify-content: flex-end;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;

        border-color: black;
        border-style: solid;

        margin-left: 0.5em;

        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.3);
        }
    }
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heex-container {
    @include flex(column);
    width: 100%;
}

.heex-comment-editor {
    width: 100%;

    @include flex(column);

    .heex-editor-header {
        width: 100%;

        @include flex(row);

        @media screen and (max-width: 600px) {
            @include flex(column);
        }

        .heex-commenter-info {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .heex-editor-body {
        border: 1px solid black;

        & > textarea {
            width: 100%;

            border: none;
            overflow: auto;
            outline: none;

            box-sizing: border-box;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            resize: none; /*remove the resize handle on the bottom right*/
        }
    }

    .heex-editor-footer {
        width: 100%;

        .heex-editor-submit-button {
            width: 2em;
            height: 2em;
            @include flex-center;
        }
    }
}

.heex-comment-meta {
    display: flex;
    align-items: center;
}

.heex-comment-list {
    @include flex(column);

    .heex-comment-list-item {
        @include flex(column);
        width: 100%;

        .heex-comment-thread-root {
            @include flex(column);

            .thread-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 2em;

                // on hover, header should have a different bg-color

                .thread-meta {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    span {
                        display: flex;
                        align-items: center;
                        margin-right: 0.5em;
                        height: 90%;
                        box-sizing: border-box;
                    }
                }

                .thread-action {
                    @include comment-action;
                }
            }
        }

        .heex-comment-thread-reply {
            width: 90%;
            align-self: end;

            .heex-comment-thread-reply-item {
                @include flex(column);

                width: 100%;

                .reply-header {
                    display: flex;
                    justify-content: space-between;
                    height: 2em;
                    align-items: center;

                    .reply-meta {
                        span {
                            margin-right: 0.5em;
                        }
                    }

                    .reply-action {
                        @include comment-action;
                    }
                }
            }
        }
    }
}

.heex-chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    padding: 0px;

    svg {
        margin-right: 4px;
    }
}

.spinner {
    animation: spin infinite 1s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
