.heex-container {
    display: flex;
    flex-direction: column;

    .heex-editor-container {
        width: 100%;

        display: flex;
        flex-direction: column;

        .heex-editor-header {
            width: 100%;

            display: flex;
            flex-direction: row;

            .heex-user-info {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }

        .heex-editor-body {
            border: 1px solid black;

            & > textarea {
                width: 100%;

                border: none;
                overflow: auto;
                outline: none;

                box-sizing: border-box;

                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                resize: none; /*remove the resize handle on the bottom right*/
            }
        }

        .heex-editor-footer {
            width: 100%;

            .heex-editor-submit-button {
                width: 4rem;
                display: inline-block;
                vertical-align: middle;
                min-width: 2.5em;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .heex-editor-container {
            .heex-editor-header {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .heex-comment-meta {
        display: flex;
        align-items: center;
    }
}
